{% extends "layouts/public.html" %} {% block title %} Al - Quran {%
endblock %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
<style>
  .search-container {
    transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  }
  .loading {
    display: none;
  }
  .search-result {
    margin-top: 20px;
  }
  .result-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .result-item:hover {
    background-color: #f1f1f1;
  }
  .result-detail {
    display: none;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
  }
  .form-control-clear {
    position: relative;
  }
  .form-control-clear input {
    padding-right: 30px;
  }
  .form-control-clear .clear-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
  }
  .form-control-clear input:not(:placeholder-shown) + .clear-button {
    display: block;
  }
</style>
{% endblock stylesheets %}
 
{% block content %}


  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8 col-md-6">
          <div class="text-center search-container">
            <h4 class="mb-4">Al-Qur'an Search Engine</h4>
            <div class="form-group form-control-clear mx-auto">
              <input type="text" class="form-control" id="searchInput" placeholder="Masukkan kata kunci..." value="dosa besar">
              <span class="clear-button" id="clearButton">&times;</span>
            </div>
            <div class="alert alert-primary" role="alert">Pilih Ayat Yang relevan dari hasil pencarian untuk melakukan evaluasi</div>
            <button class="btn btn-primary" id="searchButton">Cari Biasa</button>
            <button class="btn btn-success" id="searchSemantik">Cari Semantik</button>
            <button class="btn btn-danger" id="submitEvaluasi" data-tipe="1">Submit Evaluasi</button>
            <label class="btn btn-info">
              <input type="checkbox" id="selectAllCheckbox"> Pilih Semua
            </label>
          </div>
          
          <div class="text-center loading">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <p class="mt-3">Memproses pencarian...</p>
          </div>
          
          <div class="search-result container">
            <!-- Hasil pencarian akan ditambahkan di sini -->
          </div>
          
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="card">
            <div class="card-header">
              <h5>Hasil Evaluasi (Biasa)</h5>
            </div>
            <div class="card-body">
              <canvas id="evaluationChart"></canvas>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <h5>Hasil Evaluasi (Semantik)</h5>
            </div>
            <div class="card-body">
              <canvas id="semanticChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
  var api_url = "{{ url_for('search_blueprint.search', _external=True) }}";
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/v3/evaluasi.js?v=0.0.1"></script>
<script src="{{ config.ASSETS_ROOT }}/js/v3/index.js?v=0.0.1"></script>
<script src="{{ config.ASSETS_ROOT }}/js/v3/grafik.js?v=0.0.1"></script>
<script>
  $('#selectAllCheckbox').on('click', function () {
      // Mengambil status checkbox 'Pilih Semua'
      const selectAll = document.getElementById('selectAllCheckbox');
      // Mengambil semua checkbox dengan class 'checkbox'
      const checkboxes = document.querySelectorAll('.result-checkbox');
      
      // Memilih atau membatalkan pilih semua checkbox sesuai dengan status checkbox 'Pilih Semua'
      checkboxes.forEach(checkbox => {
          checkbox.checked = selectAll.checked;
      });
  });
</script>
{% endblock javascripts %}
