<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Semantic Search - {% block title %}{% endblock %} | AppSeed</title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Datta Able Bootstrap admin template."/>
    <meta name="keywords" content="e, datta able bootstrap admin template, free admin theme, free dashboard template" />
    <meta name="author" content="CodedThemes" />

    <!-- Favicon icon -->
    <link rel="icon" href="{{ config.ASSETS_ROOT }}/images/favicon.ico" type="image/x-icon" />
    <!-- fontawesome icon -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/fonts/fontawesome/css/fontawesome-all.min.css" />
    <!-- animation css -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/plugins/animation/css/animate.min.css" />
    <!-- sweetalert2 css -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/plugins/sweetalert2/sweetalert2.min.css" />
    <!-- vendor css -->
    <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/style.css" />
    <!-- dark mode css -->
    <!-- <link rel="stylesheet" href="{{ config.ASSETS_ROOT }}/css/dark.css" /> -->

    <!-- Specific CSS goes HERE -->
    {% block stylesheets %}{% endblock stylesheets %}
  </head>
  <body>
       
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
        <div class="pcoded-inner-content">
            <div class="main-body">
            <div class="page-wrapper">
                <div class="card">
                    <div class="card-body">
                        <!-- Navigasi Dinamis -->
                        <a href="/index?view=default" class="btn btn-{% if request.args.get('view') == 'default' %}outline-{% endif %}primary">Version 1</a>
                        <a href="/index?view=v2" class="btn btn-{% if request.args.get('view') == 'v2' %}outline-{% endif %}success">Version 2</a>
                        <a href="/index?view=v3" class="btn btn-{% if request.args.get('view') == 'v3' %}outline-{% endif %}primary">Version 3 (Evaluasi)</a>
                        <a href="/index?view=table" class="btn btn-{% if request.args.get('view') == 'table' %}outline-{% endif %}success">Tabel Evaluasi</a>
                        <a href="/index?view=ontologi" class="btn btn-{% if request.args.get('view') == 'ontologi' %}outline-{% endif %}primary">Ontologi</a>
                        <a href="/login" class="btn btn-info float-right">Login</a>
                    </div>
                </div>
                <!-- [ Main Content ] start -->
                {% block content %}{% endblock content %} 
                <!-- [ Main Content ] end -->
            </div>
            </div>
        </div>
        </div>
    </div>        
    
    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}
  </body>
</html>
